# 통계 스터디 9장 Quiz (3)

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from statsmodels.stats.stattools import durbin_watson

---

### 3.

마케팅 솔루션 업체 '다판다'에서는 마케팅 집행비에 따른 실적을 점검하고 있습니다. 특히 핵심 고객사의 광고비와 그 판매량이 어떻게 변화해 오고 있는지 확인하는 것은 '다판다'의 데이터 분석가에게 굉장히 중요한 업무입니다.

In [2]:
data = pd.read_csv('Quiz_Chapter9_data.csv', index_col=0)
data

    광고비(만원)  판매량(개)
0     269.5    3699
1     151.3    2507
2     815.0    6606
3     778.6    5933
4     305.9    4320
..      ...     ...
95    578.6    4696
96    678.6    5482
97    196.8    2276
98    542.3    4334
99    115.0    1991

[100 rows x 2 columns]

지난 100개월 동안의 광고비 및 판매량 데이터를 토대로 다음 물음에 답하시오.

#### (1)

광고비와 판매량 사이에 양의 상관관계가 존재하는지 확인하시오.

    Hint: 상수항 `sm.add_constant()`
    Hint: 최소제곱법 모델 `sm.OLS()`
    Hint: 모델 적합 `model.fit()`
    Hint: 모델 요약 `model.summary()`

#### (2)

자기상관이 존재하는지 확인하시오.

    Hint: 모델 잔차 `model.resid`
    Hint: 더빈-왓슨 검정 `durbin_watson()`