In [5]:
import numpy as np
import pandas as pd
import statsmodels.formula.api as smf
from statsmodels.stats.anova import anova_lm

In [2]:
x = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
y = np.array([1, 1, 2, 2, 4, 4, 4, 8, 8, 8])
d = {"y":y, "x":x}
data = pd.DataFrame(data=d)

In [3]:
data

   y   x
0  1   1
1  1   2
2  2   3
3  2   4
4  4   5
5  4   6
6  4   7
7  8   8
8  8   9
9  8  10

### 1-1. 위의 데이터를 바탕으로, OLS로 회귀 분석을 수행하세요

### 1-2. OLS를 통한 회귀모형에 대한 분산분석표를 출력해주세요

### 2. KB 라이프 생명에서는, 윤기훈씨가 담당하는 설계사의 고객의 수 (X)와 보험수익 (Y)에 대한관계를 알아보기 위해, 자료를 수집하였다.

In [8]:
x = np.array([10, 20, 35, 50, 60, 80, 150, 200, 180, 145])
y = np.array([115, 240, 500, 500, 300, 645, 700, 650, 450, 200])
d = {"y":y, "x":x}
data = pd.DataFrame(data=d)

In [9]:
data

     y    x
0  115   10
1  240   20
2  500   35
3  500   50
4  300   60
5  645   80
6  700  150
7  650  200
8  450  180
9  200  145

#### 2-1 윤기훈 사원이 담당하는 설계사의 시간당 보험 수익의 추정치는 어떻게 되는가?

#### 2-2. 회귀분석을 통해 계산된 베타에 대한 95% 신뢰 구간을 구하시오
- 소수점 3자리까지 반올림하여 나타내시오