In [5]:
import numpy as np
import pandas as pd
import statsmodels.formula.api as smf
from statsmodels.stats.anova import anova_lm

In [2]:
x = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
y = np.array([1, 1, 2, 2, 4, 4, 4, 8, 8, 8])
d = {"y":y, "x":x}
data = pd.DataFrame(data=d)

In [3]:
data

   y   x
0  1   1
1  1   2
2  2   3
3  2   4
4  4   5
5  4   6
6  4   7
7  8   8
8  8   9
9  8  10

### 1-1. 위의 데이터를 바탕으로, OLS로 회귀 분석을 수행하세요

In [4]:
fit1 = smf.ols("y~x", data=data).fit()
print(fit1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.902
Model:                            OLS   Adj. R-squared:                  0.890
Method:                 Least Squares   F-statistic:                     73.50
Date:                Sat, 17 Aug 2024   Prob (F-statistic):           2.64e-05
Time:                        09:03:54   Log-Likelihood:                -12.564
No. Observations:                  10   AIC:                             29.13
Df Residuals:                       8   BIC:                             29.73
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -0.7333      0.649     -1.130      0.291      -2.230       0.764
x              0.8970      0.105      8.573      0.000       0.656       1.138
==============================================================================
Omnibus:                        0.061   Durbin-Watson:                   2.171
Prob(Omnibus):                  0.970   Jarque-Bera (JB):                0.109
Skew:                           0.011   Prob(JB):                        0.947
Kurtosis:                       2.488   Cond. No.                         13.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

c:\Users\aryij\anaconda3\envs\weather2\Lib\site-packages\scipy\stats\_axis_nan_policy.py:531: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  res = hypotest_fun_out(*samples, **kwds)

### 1-2. OLS를 통한 회귀모형에 대한 분산분석표를 출력해주세요

In [6]:
anova_lm(fit1)

           df     sum_sq    mean_sq          F    PR(>F)
x         1.0  66.375758  66.375758  73.503356  0.000026
Residual  8.0   7.224242   0.903030        NaN       NaN

### 2. KB 라이프 생명에서는, 윤기훈씨가 담당하는 설계사 1명의 고객의 수 (X)와 보험수익 (Y)에 대한관계를 알아보기 위해, 자료를 수집하였다.

In [8]:
x = np.array([10, 20, 35, 50, 60, 80, 150, 200, 180, 145])
y = np.array([115, 240, 500, 500, 300, 645, 700, 650, 450, 200])
d = {"y":y, "x":x}
data = pd.DataFrame(data=d)

In [9]:
data

     y    x
0  115   10
1  240   20
2  500   35
3  500   50
4  300   60
5  645   80
6  700  150
7  650  200
8  450  180
9  200  145

#### 2-1 윤기훈 사원이 담당하는 설계사의 시간당 보험 수익의 추정치는 어떻게 되는가?

In [10]:
fit = smf.ols("y~x-1", data=data).fit()
print(fit.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   0.738
Model:                            OLS   Adj. R-squared (uncentered):              0.709
Method:                 Least Squares   F-statistic:                              25.37
Date:                Sat, 17 Aug 2024   Prob (F-statistic):                    0.000703
Time:                        09:11:04   Log-Likelihood:                         -69.068
No. Observations:                  10   AIC:                                      140.1
Df Residuals:                       9   BIC:                                      140.4
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x              3.5578      0.706      5.037      0.001       1.960       5.156
==============================================================================
Omnibus:                        0.756   Durbin-Watson:                   0.524
Prob(Omnibus):                  0.685   Jarque-Bera (JB):                0.666
Skew:                          -0.459   Prob(JB):                        0.717
Kurtosis:                       2.131   Cond. No.                         1.00
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

c:\Users\aryij\anaconda3\envs\weather2\Lib\site-packages\scipy\stats\_axis_nan_policy.py:531: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  res = hypotest_fun_out(*samples, **kwds)

#### 2-2. 회귀분석을 통해 계산된 베타에 대한 95% 신뢰 구간을 구하시오
- 소수점 3자리까지 반올림하여 나타내시오

In [11]:
fit.conf_int(alpha=0.05).round(3)

      0      1
x  1.96  5.156