In [16]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# 1. 정규분포와 관련하여 아래를 푸시오

1-1. 평균이 0이고 표준편차가 1인 정규분포를 따르는 난수 1000개를 생성하고, 이를 히스토그램으로 시각화하시오.

1-2. 확률변수 X가 정규분포 N(30, 4^2)을 따를 때, X가 26보다 크고 32보다 작을 확률을 구하시오.
(stats 모듈의 norm.cdf() 함수를 사용)

In [1]:
from scipy.stats import norm

# 2. 아래 투자자산(asset) 데이터를 활용하여 문제를 푸시오.

In [20]:
np.random.seed(2024)

dates = pd.date_range(start='2024-01-01', periods=100)
asset_data = {
    f'asset_{i}': np.random.normal(100, 10, 100) for i in range(1, 6)
}

data = pd.DataFrame(asset_data, index=dates)
data

               asset_1     asset_2     asset_3     asset_4     asset_5
2024-01-01  116.680473  100.872181  110.705309  109.309287  121.474337
2024-01-02  107.373477  101.038664  121.051588  108.776413   90.517649
2024-01-03   97.984622  106.899417   97.279645  101.457705  102.877718
2024-01-04   98.490881  104.705930  103.199261   84.587196   98.550567
2024-01-05  109.160518   83.894956   95.737577   98.098110  103.498586
...                ...         ...         ...         ...         ...
2024-04-05   95.525711   89.842377   97.055992  106.921541   82.646771
2024-04-06   87.727008   89.644708   97.224996   87.947793  104.178540
2024-04-07   88.967058  122.041110  103.948587  101.479909  106.513537
2024-04-08   91.521323   89.821356   65.792644  106.941867  105.429140
2024-04-09   94.544124   77.262369   70.686088   97.946298  100.586071

[100 rows x 5 columns]

2-1. 각 자산(asset) 간의 상관계수를 계산하시오

2-2. 각 자산 간의 상관계수를 히트맵을 통해 시각화하시오

2-3. pearsonr 코드를 사용하여 각 상관계수에 대한 통계적 유의성을 검정할 수 있도록 p_value 행렬로 나타내시오.

In [ ]:
from scipy.stats import pearsonr

p_values = pd.DataFrame(np.zeros((data.shape[1], data.shape[1])), columns=data.columns, index=data.columns)

2-4. 위에서 구한 p_value 행렬을 히트맵으로 시각화하시오